<div class='container-fluid'>
	<div class="header">
		<div style="width:1200px;margin:auto">
			<div class="pull-left">
				<a href="/products" style="color:white; text-decoration:none;font-size:50px">Internet Shop</a>
			</div>
			<authorization></authorization>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class='body'>
		<router-outlet></router-outlet>
		<div class="clearfix"></div>
	</div>

	<div class="footer">
		<div class="text-center margin_top_5">
			Internet Shop / ASP.NET Core <br>
			Created by Andrew Gumenyuk
		</div>
	</div>
</div>
