<div *ngIf="!IsEdit">
	<div class="card_title">
		<h2 class="pull-left">{{product?.characteristic?.Name}} </h2>
		<h2 class="pull-right">${{product?.characteristic?.Price}} USD</h2>
		<div class="clearfix"></div>
	</div>

	<div>
		<div class="pull-left card_image"><img src="https://drive.google.com/uc?export=view&id={{product?.characteristic?.Image}}" style="width:100%" /></div>
		<div class="pull-right" style="width:600px">
			<div class="card_characteristic">
				<h3>General information</h3>
				<div style="margin-left:10px">
					<div><span><b>Name:</b>  {{product?.characteristic?.Name}} </span></div>
					<div><span><b>Memory Type:</b>  {{product?.characteristic?.MemoryType}} </span></div>
					<div><span> <b>Capacity:</b>  {{product?.characteristic?.Capacity}} </span></div>
					<div><span> <b>Supply Voltage:</b>  {{product?.characteristic?.SupplyVoltage}} </span></div>
					<div><span> <b>Frequency:</b>  {{product?.characteristic?.Frequency}} </span></div>
					<div><span> <b> Radiators on the slats:</b> {{product?.characteristic?.RadiatorsOnTheSlats}} </span></div>
					<div><span> <b>Throughput:</b>  {{product?.characteristic?.Throughput}} </span></div>
					<div><span> <b>Timings Scheme: </b> {{product?.characteristic?.TimingsScheme}} </span></div>
					<div><span> <b>Number of slats:</b> {{product?.characteristic?.NumberOfSlats}} </span></div>
					<div><span> <b>Appointment:</b>  {{product?.characteristic?.Appointment}} </span></div>
					<div><span> <b>Buffering:</b>  {{product?.characteristic?.Buffering}} </span></div>
					<div><span> <b>ECC: </b> {{product?.characteristic?.ECC}} </span></div>
					<div><span> <b>Guarantee:</b>  {{product?.characteristic?.Guarantee}} </span></div>
				</div>
			</div>
			<div class="margin_top_15">
				<div id="successUpdate" class="alert-danger col-md-9 text-center alert_blue" [hidden]="true"></div>
				<div> <input type="button" class="btn btn-default pull-right button_style" (click)="isEdit(true)" value="Edit" /></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>


<div *ngIf="IsEdit" class="margin_top_30">
	<div>
		<div><input class="btn button_style btn-default" type="button" value="Update Image" onclick="document.getElementById('imageUpdate').click()" /></div>
		<input type="file" ng2FileSelect [uploader]="uploader" style="display:none" id="imageUpdate" (change)="updateImg()" />

		<div class="pull-left card_image"><img src="https://drive.google.com/uc?export=view&id={{product?.characteristic?.Image}}" style="width:100%" /></div>
		<div class="pull-right" style="width:600px">
			<div class="card_characteristic">
				<h3>General information</h3>
				<div style="margin-left:10px;margin-top:25px">
					<div class="group">
						<input type="text" class="input_text" name="Name" [(ngModel)]="product.characteristic['Name']" required />
						<label class="label"> Name </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="MemoryType" [(ngModel)]="product.characteristic['MemoryType']" required />
						<label class="label"> Memory Type </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="Capacity" [(ngModel)]="product.characteristic['Capacity']" required />
						<label class="label"> Capacity </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="SupplyVoltage" [(ngModel)]="product.characteristic['SupplyVoltage']" required />
						<label class="label"> Supply Voltage </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="Frequency" [(ngModel)]="product.characteristic['Frequency']" required />
						<label class="label"> Frequency </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="RadiatorsOnTheSlats" [(ngModel)]="product.characteristic['RadiatorsOnTheSlats']" required />
						<label class="label"> Radiators On The Slats </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="Throughput" [(ngModel)]="product.characteristic['Throughput']" required />
						<label class="label"> Throughput </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="TimingsScheme" [(ngModel)]="product.characteristic['TimingsScheme']" required />
						<label class="label"> Timings Scheme </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="NumberOfSlats" [(ngModel)]="product.characteristic['NumberOfSlats']" required />
						<label class="label"> Number of slats </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="Appointment" [(ngModel)]="product.characteristic['Appointment']" required />
						<label class="label"> Appointment </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="Buffering" [(ngModel)]="product.characteristic['Buffering']" required />
						<label class="label"> Buffering </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="ECC" [(ngModel)]="product.characteristic['ECC']" required />
						<label class="label"> ECC </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="Guarantee" [(ngModel)]="product.characteristic['Guarantee']" required />
						<label class="label"> Guarantee </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="Price" [(ngModel)]="product.characteristic['Price']" required />
						<label class="label"> Price </label>
					</div>
					<div class="group">
						<input type="text" class="input_text" name="Quantity" [(ngModel)]="product.characteristic['Quantity']" required />
						<label class="label"> Quantity </label>
					</div>
				</div>
			</div>
			<div class="margin_top_15">
				<div> <input type="button" class="btn btn-default pull-right button_style" (click)="cancel()" value="Cancel" /></div>
				<div> <input type="button" class="btn btn-default pull-right button_style" style="margin-right:20px" (click)="update(product)" value="Save" /></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

