<form *ngIf="product" name="form1" style="margin-top:20px">
	<div class="card_characteristic pull-left">
		<h3>General information</h3>
		<div style="margin-left:10px;margin-top:25px">
			<div class="group">
				<input type="text" class="input_text" name="Name" [(ngModel)]="product.characteristics['Name']" required />
				<label class="label"> Name </label>
			</div>
			<div class="group">
				<input type="text" class="input_text" name="Tag" [(ngModel)]="product.Tag" required />
				<label class="label"> Tags </label>
			</div>
			<div class="group">
				<input type="text" class="input_text" name="Discription" [(ngModel)]="product.characteristics['Discription']" required />
				<label class="label"> Discription </label>
			</div>
			<div class="group">
				<input type="text" class="input_text" name="ReleaseDate" [(ngModel)]="product.characteristics['ReleaseDate']" required />
				<label class="label"> ReleaseDate </label>
			</div>
			<div class="group">
				<input type="text" class="input_text" name="Developer" [(ngModel)]="product.characteristics['Developer']" required />
				<label class="label"> Developer </label>
			</div>
			<div class="group">
				<input type="text" class="input_text" name="Price" [(ngModel)]="product.characteristics['Price']" required />
				<label class="label"> Price </label>
			</div>
		</div>
	</div>

	<div class="pull-left margin_left_30">
		<div class="card_characteristic">
			<h3>System requirements</h3>
			<div style="margin-left:10px;margin-top:25px">
				<div class="group">
					<input type="text" class="input_text" name="OS" [(ngModel)]="product.characteristics['OS']" required />
					<label class="label"> OS </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Processor" [(ngModel)]="product.characteristics['Processor']" required />
					<label class="label"> Processor </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Memory" [(ngModel)]="product.characteristics['Memory']" required />
					<label class="label"> Memory </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Graphics" [(ngModel)]="product.characteristics['Graphics']" required />
					<label class="label"> Graphics </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Storage" [(ngModel)]="product.characteristics['Storage']" required />
					<label class="label"> Storage </label>
				</div>
			</div>
		</div>
		<div class="pull-right margin_top_15"><input class="btn button_style btn-default" type="button" value="Ok" (click)="addProduct()" /></div>
	</div>

	

	<div *ngIf="success" class="col-md-3 card_image pull-right">
		<div><input class="btn button_style btn-default" type="button" value="Upload Image" onclick="document.getElementById('imageUpload').click()" /></div>
		<input type="file" ng2FileSelect [uploader]="uploader" style="display:none" id="imageUpload" (change)="updImage()" />
		<div *ngIf="successUpload" class="pull-left"><img src="https://drive.google.com/uc?export=view&id={{product?.characteristics?.Image}}" style="width:100%" /></div>
	</div>
</form>