<form *ngIf="product" name="form1" style="margin-top:20px">
	<div style="width:600px">
		<div class="card_characteristic pull-left">
			<h3>General information</h3>
			<div style="margin-left:10px;margin-top:25px">
				<div class="group">
					<input type="text" class="input_text" name="Name" [(ngModel)]="product.characteristic['Name']" required />
					<label class="label"> Name </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Capacity" [(ngModel)]="product.characteristic['Capacity']" required />
					<label class="label"> Capacity </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="ReadingSpeed" [(ngModel)]="product.characteristic['ReadingSpeed']" required />
					<label class="label"> Reading Speed </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="RecordingSpeed" [(ngModel)]="product.characteristic['RecordingSpeed']" required />
					<label class="label"> Recording Speed </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="EnergyConsumption" [(ngModel)]="product.characteristic['EnergyConsumption']" required />
					<label class="label"> Energy Consumption </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="MTBF" [(ngModel)]="product.characteristic['MTBF']" required />
					<label class="label"> MTBF </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="FormFactor" [(ngModel)]="product.characteristic['FormFactor']" required />
					<label class="label"> Form Factor </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="StabilityToShockLoads" [(ngModel)]="product.characteristic['StabilityToShockLoads']" required />
					<label class="label"> Stability to shock loads </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="TypeOfMemoryCells" [(ngModel)]="product.characteristic['TypeOfMemoryCells']" required />
					<label class="label"> Type of memory cells </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Interface" [(ngModel)]="product.characteristic['Interface']" required />
					<label class="label"> Interface </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="DriveType" [(ngModel)]="product.characteristic['DriveType']" required />
					<label class="label"> Drive Type </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Size" [(ngModel)]="product.characteristic['Size']" required />
					<label class="label"> Size </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Weight" [(ngModel)]="product.characteristic['Weight']" required />
					<label class="label"> Weight </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Guarantee" [(ngModel)]="product.characteristic['Guarantee']" required />
					<label class="label"> Guarantee </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Price" [(ngModel)]="product.characteristic['Price']" required />
					<label class="label"> Price </label>
				</div>
				<div class="group">
					<input type="text" class="input_text" name="Quantity" [(ngModel)]="product.characteristic['Quantity']" required />
					<label class="label"> Quantity </label>
				</div>
			</div>
		</div>
		<div class="pull-right margin_top_15"><input class="btn button_style btn-default" type="button" value="Ok" (click)="addProduct()" /></div>
	</div>

	<div *ngIf="success" class="col-md-3 card_image pull-right">
		<div><input class="btn button_style btn-default" type="button" value="Upload Image" onclick="document.getElementById('imageUpload').click()" /></div>
		<input type="file" ng2FileSelect [uploader]="uploader" style="display:none" id="imageUpload" (change)="updImage()" />
		<div *ngIf="successUpload" class="pull-left"><img src="https://drive.google.com/uc?export=view&id={{product?.characteristic?.Image}}" style="width:100%" /></div>
	</div>
</form>