<div class="card_title">
	<div class="center-block">
		<h2 class="pull-left">Select the appropriate product type -->  </h2>
		<select [(ngModel)]="product.type" (change)="initDictionaryFields()" class="input_text pull-left margin_left_30 margin_top_30">
			<option [value]="''">-Select type-</option>
			<option *ngFor="let p of productTypes" [value]="p">{{p}}</option>
		</select>
		<div class="clearfix"></div>
	</div>
	
</div>

<div *ngIf="product.type == 'PC-Game' && product.characteristics">
	<add-pc-game [product]=product [uploader]=uploader [success]=success [successUpload]=successUpload (addProductToDB)="addProductToDB($event)" (updateImage)="updateImage($event)"></add-pc-game>
</div>

<div *ngIf="selectedType == 2 && product.characteristics">
	<add-manga [product]=product [uploader]=uploader [success]=success [successUpload]=successUpload (addProductToDB)="addProductToDB($event)" (updateImage)="updateImage($event)"></add-manga>
</div>

<div *ngIf="selectedType == 3 && product.characteristics">
	<add-t-shirt [product]=product [uploader]=uploader [success]=success [successUpload]=successUpload (addProductToDB)="addProductToDB($event)" (updateImage)="updateImage($event)"></add-t-shirt>
</div>

<div *ngIf="selectedType == 4 && product.characteristics">
	<add-ssd [product]=product [uploader]=uploader [success]=success [successUpload]=successUpload (addProductToDB)="addProductToDB($event)" (updateImage)="updateImage($event)"></add-ssd>
</div>

<div *ngIf="selectedType == 5 && product.characteristics">
	<add-ram [product]=product [uploader]=uploader [success]=success [successUpload]=successUpload (addProductToDB)="addProductToDB($event)" (updateImage)="updateImage($event)"></add-ram>
</div>