.group {
	position: relative;
	margin-bottom: 35px;
}

.input_text {
	border: 0;
	background: white no-repeat;
	text-align: center;
	background-image: linear-gradient(to bottom, #507299, #507299), linear-gradient(to bottom, silver, silver);
	background-size: 0 2px, 100% 1px;
	background-position: 50% 100%, 50% 100%;
	transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
	font-size: 18px;
}

	.input_text:focus {
		background-size: 100% 2px, 100% 1px;
		outline: none;
	}

.label {
	color: gray !important;
	font-size: 18px !important;
	font-weight: normal !important;
	position: absolute;
	pointer-events: none;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
	margin-left: -60%;
}

/*active state*/
input:focus ~ .label, input:valid ~ .label {
	top: -20px;
	font-size: 14px !important;
	color: #5264AE;
}

.margin_top_30 {
	margin-top: 30px;
}

.margin_top_15 {
	margin-top: 15px;
}

.form_width_300{
	width:300px;
}
div[hidden] {
	display: none;
}

.alert_blue {
	padding: 5px;
	background-color: #e5ebf1;
	color: #507299;
}

.card_title {
	box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
	background-color: white;
	padding-left: 12px;
	padding-right: 12px;
}

.card_image {
	box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
	background-color: white;
	padding: 12px;
	width: 400px;
	margin-top: 15px;
}

.card_characteristic {
	box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.12);
	background-color: white;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-top: 0.1px;
	width: 600px;
	margin-top: 15px;
}

.button_style {
	border-radius: 0px;
	background-color: #e5ebf1;
	margin-top: 15px;
}

.cursor:hover {
	cursor: pointer;
}

.caret-right {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-left: 4px solid;
	display: inline-block;
	height: 0;
	opacity: 0.3;
	vertical-align: top;
	width: 0;
	margin-top: 6px;
	margin-left: 3px;
}

.menu {
	border-radius: 0px;
}