<div>
	<div class="card_title">
		<h2 class="pull-left">{{product?.characteristics?.Name}} </h2>
		<h2 class="pull-right">${{product?.characteristics?.Price}} USD</h2>
		<div class="clearfix"></div>
	</div>

	<div>
		<div class="pull-left card_image"><img src="https://drive.google.com/uc?export=view&id={{product?.characteristics?.Image}}" style="width:100%" /></div>
		<div class="pull-right" style="width:600px">
			<div class="card_characteristic">
				<h3>General information</h3>
				<div style="margin-left:10px">
					<div><span><b>Sex:</b>  {{product?.characteristics?.Sex}} </span></div>
					<div><span><b>Size:</b>  {{product?.characteristics?.Size}} </span></div>
					<div><span> <b>Color:</b>  {{product?.characteristics?.Color}} </span></div>
					<div><span> <b>Style:</b>  {{product?.characteristics?.Style}} </span></div>
					<div><span> <b>Structure:</b>  {{product?.characteristics?.Structure}} </span></div>
					<div><span> <b> Additional Characteristics:</b> {{product?.characteristics?.AdditionalCharacteristics}} </span></div>
				</div>
			</div>
			<div>
				<div [hidden]="!info" class="alert-danger col-md-9 text-center alert_blue margin_top_15">{{info}}</div>
				<div> <input type="button" class="btn btn-default pull-right button_style" (click)="addProductToCart()" value="add to cart" /></div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>





